.instructorReviews {
    background-color: #d4e5f1;
}

.bodyWrapper {
    color: #163A59;
    width: 90%;
    padding: 5%;
}

.heading {
    font: 600 50px 'Inter';
}

.body {
    display: flex;
}

.bodyLeft {
    width: 35%;
    padding-right: 30px;
    border-right: 2px solid #2056BE;
}


.bodyRight {
    width: 65%;
    padding-left: 30px;
    height: fit-content;

    textarea {
        margin-top: 25px;
        height: 35%;
        width: 40%;
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 10px;
        font-size: 16px;
        resize: none;
    }

    h3 {
        color: #256093;
        font: 35px 'Inconsolata';
    }

    img {
        width: 30%;
        margin-top: -150px;
        float: right;
    }
}

.sendButton {
    height: 30px;
    width: 70px;
    font: 15px 'Imprima';
    margin-left: 50px;
}

.leftReview {
    background-color: #ffffff;
    border-radius: 20px;
    color: #256093;
    font: 16px 'Inconsolata';
    margin-bottom: 20px;
    padding: 20px;
}

.coursesThought {
    background-color: #ffffff;
    border-radius: 20px;
    color: #256093;
    width: 60%;
    font: 18px 'Inconsolata';
    margin: 20px 0;
    padding: 20px;
}

.bodyLeft h2 {
    color: #256093;
    font: 30px 'Inconsolata';
    margin-bottom: 0;
}

.instructorRating {
    margin-top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font: 700 18px 'Inconsolata';
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, #4590d2 , rgb(224, 224, 138));
}

.nameContainer {
    display: flex;
}

.heading {
    margin-right: 20px;
}

.nameContainer a {
    color: #256093;
    margin-top: 55px;

    >* {
        height: 25px;
        width: 25px;
    }

    >*:hover {
        color: #B8DEFF;
        transform: translateY(-5px);
    }
}

@media screen and (max-width: 780px) { 
    .bodyRight {
        width: 100%;
        padding: 10px 0;
        border-top: 2px solid #2056BE;

        img {
            width: 30%;
            margin: 0;
            float: right;
        }
    }

    .bodyLeft {
        width: 100%;
        padding: 10px 0;
        border: none;
    }

    .body {
        display: block;
    }

    .sendButton {
        margin-left: 15px;
    }
}
