.bodyWrapper {
    color: #163A59;
    padding: 5% 15%;
    width: 70%;
}

.heading {
    font: 700 100px 'Inter';
    margin: 0;
    text-align: center;
}

.subHeading {
    font: 500 40px 'Inter';
    margin: 0 0 10px;
    padding: 15px 0;
    text-align: center;
}

.courseButton {
    border-radius: 20px;
    border: 1px solid #2056BE;
    font: 35px 'Imprima';
    height: fit-content;
    margin: 30px 0;
    min-height: 80px;
    padding: 12px 0;
    width: 100%;
}

@media screen and (max-width: 480px) { 
    .heading {
        font-size: 70px;
    }

    .courseButton {
        border-radius: 10px;
        font-size: 25px;
    }
}
