.socialMedia  {
    display: inline-block;
    transition: transform 250ms;
}

.socialMedia a {
    color: #00253b;
    margin: 0 8px;
}

.socialMedia a {
    >* {
        height: 25px;
        width: 25px;
    }

    >*:hover {
        color: #B8DEFF;
        transform: translateY(-5px);
    }
}
