.dashboard {
    background-image: url("../../../public/headerBackground.png");
    background-position: right;
    color: #163A59;
}

.banner {
    background-color: #FFFFFF;
    padding-bottom: 30px;
}

.bannerHeading {
    font: 700 80px/100px 'Inter';
    padding: 30px 0;
    margin: 0;
    text-align: center;
    color: #163A59;
}

.bannerContent {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.info {
    width: 30%;
    margin: 0;

    div {
        width: 100%;
        font: 25px/40px 'Imprima';
        text-align: center;
        margin-bottom: 25px;
    }
}

.review {
    height: 350px;
    padding: 30px;
}

.question {
    div {
        font: 40px 'Imprima';
        margin: 30px 0;
        color: rgb(126, 153, 178);
    }

    textarea {
        height: 35%;
        width: 40%;
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 10px;
        font-size: 16px;
        resize: none;
    }
}

.send {
    height: 40px;
    width: 90px;
    font: 20px 'Imprima';
    margin-left: 50px;
}

.navigationWrapper {
    margin: 30px auto;
    height: fit-content;
}

.selectHeading{
    font: 65px 'Imprima';
    text-align: center;
}

.selectButtons {
    display: flex;
    justify-content: center;
}

.select {
    height: 90px;
    width: 200px;
    font: 35px 'Imprima';
    margin: 0 10px;
}

@media screen and (max-width: 780px) { 
    .bannerContent {
        display: block;
        width: 70%;
    }

    .info {
        width: 100%;
        padding-top: 15px;
        border-bottom: 1px solid rgb(157, 157, 157);
        
        div {
            margin-bottom: 15px;
        }

        img {
            width: 50%;
            margin-left: 20%;
        }
    }

    .info:last-child {
        border-bottom: none;
    }
}
