.header {
    background-image: url("../../../../public/headerBackground.png");
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: fit-content;
    justify-content: space-between;
    min-height: 80px;
    width: 100%;
}

.logoContainer {
    margin: auto 0;
    width: 30%;
}

.logo {
    width: 100%;
}

.menu {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: auto 0;
    width: 30%;

    a {
        text-decoration: none;

        p {
            color: #013b5c;
            cursor: pointer;
        }
    
        p:hover {
            color:  #B8DEFF;
            transform: translateY(-5px);
        }
    }
}

.socialMedia {
    margin: auto 0;
    width: 20%;
}


@media screen and (max-width: 780px) { 
    .logoContainer {
        width: 45%;
    }

    .menu {
        display: block;
        font-size: 16px;
        width: 10%;

        p {
            margin: 2px 0;
        }
    }

    .socialMedia {
        margin: auto 0;
        width: 10%;
    }
}
